#!/usr/bin/env bash

loss_percentage=$2

function add(){
  iptables -A INPUT -m statistic --mode random --probability ${loss_percentage} -j DROP
  iptables -A OUTPUT -m statistic --mode random --probability ${loss_percentage} -j DROP
}

function delete(){
  iptables -D INPUT -m statistic --mode random --probability ${loss_percentage} -j DROP
  iptables -D OUTPUT -m statistic --mode random --probability ${loss_percentage} -j DROP
}

$1
