tank:
  # cloud provider to use
  provider: digitalocean
  ansible:
    forks: 40  # number of parallel processes to use during cluster provisioning
  # Optional. Login and password to access monitoring
  monitoring:
    admin_user: "your_login"
    admin_password: "your_password"

digitalocean:
  # Private key to manage benchmark instances.
  # It's recommended to create a distinct key pair for benchmarking purposes.
  # The simplest way is:
  #   ssh-keygen -t rsa -b 2048 -f bench_key
  # (leave passphrase empty)
  # Please provide the full path to the private key.
  pvt_key: /home/eenae/bench_temp_key

  # MD5 fingerprint of the public key.
  # Please note, in case of Digital Ocean you must add this key to your account at
  # https://cloud.digitalocean.com/account/security (you can also get the fingerprint there).
  ssh_fingerprint: "d5:13:35:7a:3d:2e:ca:eb:90:da:b5:5b:dd:bd:d8:fd"

  # Access token. In case of Digital Ocean the token can be created at
  # https://cloud.digitalocean.com/account/api/tokens.
  token: "5ffac1b92062cb08109f23c06c6f8f1787f096cac109fea60000000000000000"

  # Optional, for every cloud provider: ansible variable definitions.
  # Each variable will be passed to ansible as -e bc_{var_name}={value}
  ansible:
    # Name of the network interface of cloud machines
    private_interface: eth0

gce:
  # Private key to manage benchmark instances.
  # It's recommended to create a distinct key pair for benchmarking purposes.
  # The simplest way is:
  #   ssh-keygen -t rsa -b 2048 -f bench_key
  # (leave passphrase empty)
  # Please provide the full path to the private key.
  pvt_key: /home/eenae/bench_temp_key

  # Public key to manage benchmark instances.
  pub_key: /home/eenae/bench_temp_key.pub

  cred_path: /home/eenae/.ssh/gce.json